<!--
Presentar listado de estudiantes que presente el id - nombre - numeroTotalTelefonosEstudiantes
-->

<h3>{{ mititulo }}</h3>
Número de estudiantes {{ numero_estudiantes }}
<hr />
<br />

<ul>
    {% for e in estudiantes %}

    <li>{{e.id}} - {{e.nombre}} - telefonos({{e.obtenerCantidadNumeros}})</li>

    {% endfor %}
</ul>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Telefonos</th>
        </tr>
    </thead>
    <tbody>
        {% for e in estudiantes %}
        <tr>
            <td>{{e.id}}</td>
            <td>{{e.nombre}}</td>
            <td>telefonos({{e.obtenerCantidadNumeros}})</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<hr />
